append variables
    -
        var color = {
            "class":"bg-red-500",
            "style": "background-image:linear-gradient(180deg, #949fe3, #636FC7 20%, #2D388A);"
        }

mixin Footer
  footer.footer&attributes(attrsFooter, color, attributes)
    .row.g-0.justify-between.items-center.h-full
      div(class=`w-fit mx-auto col-12 text-center ${color} py-14`)
        p(class="text-white font-semibold text-2xl md:text-3xl lg:text-[56px] mb-8") Build the utility-first way
        .w-fit.mx-auto
            p(class="text-white my-4 font-light lg:font-normal") Stable connection recommended 
            a(href="https://themewagon.com/themes/tailwind-bundle/" target="_blank" class="btn lg:w-full m-0 p-0 px-5.5 py-3.75 bg-[#9EE970] font-semibold text-sm md:text-md lg:text-[16px] rounded-lg") Download Free 370 MB