
mixin HeroHeader
    section(class='overflow-hidden py-0')
        div(class='container-fluid')
            div(class="bg-holder" style=`background-image:url(${CWD}assets/img/header.svg);background-position: bottom;`)
            div(class="pt-17.75 pb-26 container overflow-hidden flex justify-center text-center mx-auto z-index-1 banner-section")
                div(class='')
                    img(class="mb-12 mx-auto" src=`${CWD}assets/img/themewagon-logo.png` alt="" width="179.39px")
                    p(class="font-semibold text-3xl md:text-4xl lg:text-8xl mb-14 text-white")
                        span(class='bg-linear-to-r from-[#00FF8F] to-[#00A1FF] text-transparent bg-clip-text inline-block') 50 
                        |
                        | Tailwind CSS
                        br
                        | website templates
                    a(class="btn bg-[#9EE970] text-md lg:text-lg" href="https://themewagon.com/themes/tailwind-bundle/" target="_blank")
                        | Get the free bundle
