mixin ItemCard(props)

  div(class="card bg-white hover:border-[#9EE970] border-[#F0F0F0] rounded-2xl overflow-hidden"
    style="box-shadow: 0px 7px 16px 0px #B9C1B31A, 0px 29px 29px 0px #B9C1B317, 0px 64px 39px 0px #B9C1B30D, 0px 114px 46px 0px #B9C1B303, 0px 178px 50px 0px #B9C1B300;")
    div(class="card-body text-center")
      p(class="card-title font-semibold m-0 text-md lg:text-lg")=props.title
    img(class="card-img-bottom" src=`${CWD}assets/img/items/${props.img}`  alt="Feature")