extends layouts/LayoutTheme
include mixins/common/HeroHeader
include mixins/components/Content
include mixins/common/Footer
include mixins/common/ItemCard

block mainContent
    +HeroHeader
    +Content
    +Footer