/*-----------------------------------------------
|   Sidebar
-----------------------------------------------*/
.sticky-sidebar {
  position: sticky;
  z-index: 1020;
  top: calc(var(--navbar-top-height) + 1px);
}

/*-----------------------------------------------
|   Custom circle
-----------------------------------------------*/
.circle-dashed {
  border: 1px dashed var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

/*-----------------------------------------------
|   Miscellaneous
-----------------------------------------------*/

.hover-text-decoration-none {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.resize-none {
  resize: none;
}

.collapsed .collapse-icon {
  transition: all 0.2s ease-in-out;
  transform: rotate(0deg);
}
.collapse-icon {
  transition: all 0.2s ease-in-out;
  transform: rotate(90deg);
}

[data-dismiss='dropdown'],
[data-bs-offset-top],
[data-bs-toggle='collapse'],
[data-bs-toggle='tooltip'],
[data-bs-toggle='popover'] {
  * {
    pointer-events: none;
  }
}

/*-----------------------------------------------
|   Outline
-----------------------------------------------*/

.outline-none {
  outline: none;
  box-shadow: none;
  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

/*-----------------------------------------------
|   Vertical Line (used in kanban header)
-----------------------------------------------*/
.vertical-line {
  &:after {
    position: absolute;
    content: '';
    height: 75%;
    width: 1px;
    background: var(--background-color-body-tertiary);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &.vertical-line-400 {
    &:after {
      background-color: var(--background-color-body-quaternary);
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Transition                                 */
/* -------------------------------------------------------------------------- */

/* TODO: Check the class, if already present in tailwind css then remove it */
.transition-base {
  transition: all 0.2s ease-in-out;
}
.transition-none {
  transition: none;
}

.fsp-75 {
  font-size: 75%;
}

/* -------------------------------------------------------------------------- */
/*                                Terms sidebar                               */
/* -------------------------------------------------------------------------- */

.terms-sidebar {
  .nav-link {
    color: var(--text-color-body-quaternary);
    font-weight: var(--font-weight-medium);
    font-family: var(
      --font-family-sans-serif
    ); /* TODO: Check whether the font family added or not */
    &.active {
      color: var(--color-primary);
    }
  }
}

@utility divider-content-center {
  @layer base {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: --spacing(2);
    padding-right: --spacing(2);
    background-color: var(--background-color-body);
    font-family: var(
      --color-font-sans-serif
    ); /* TODO: Check whether the font family added or not */
    font-size: var(--text-md);
    color: --alpha(var(--text-color-body-tertiary) / 85%);
    white-space: nowrap;
    font-weight: var(--font-weight-bold);
    .bg-auth-card & {
      [data-hb-theme='dark'] & {
        background-color: var(--background-color-body) !important;
      }
    }
  }
}

.btn-check[data-theme-control]:checked + label {
  display: none;
}
/* -------------------------------------------------------------------------- */
/*                                    Height                                  */
/* -------------------------------------------------------------------------- */

.content {
  min-height: 100vh;
  padding: var(--content-padding-top) --spacing(6) var(--content-padding-bottom)
    --spacing(6);
  position: relative;
  padding-bottom: calc(var(--footer-height) + 2rem);
  @variant sm {
    padding-bottom: var(--footer-height);
  }
}

/* WORKING */
.footer {
  bottom: 0;
  width: 100%;
  /* height: calc(var(--footer-height) + 2rem); */
  padding: 0 --spacing(6);
  left: 0;
}

.bullet-item {
  height: 0.5rem;
  width: 1rem;
  border-radius: 2px;
}

/* -------------------------------------------------------------------------- */
/*                                    Padding                                  */
/* -------------------------------------------------------------------------- */
.pt-navbar {
  padding-top: var(--navbar-top-height);
}

/* -------------------------------------------------------------------------- */
/*                                    Logo                                    */
/* -------------------------------------------------------------------------- */

.logo-text {
  font-size: 1.63625rem;
  color: var(--logo-text);
  font-weight: var(--font-weight-semibold);
  letter-spacing: -0.04em;
  margin-bottom: 0;
}

.notification-card {
  &.unread {
    background-color: var(--background-color-body-highlight);
  }
}
.notification-card:hover {
  background-color: var(--background-color-body-secondary) !important;
}
.notification-dropdown {
  .dropdown-toggle {
    &:hover {
      border-color: var(--border-color-base);
      background: transparent;
    }
  }
  .dropdown-menu {
    right: 0;
    left: unset !important;
  }
}

/* TODO: Replace with hummingbird square button */
/* .btn-square-sm {
  height: 1.875rem;
  width: 1.875rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-square {
  height: 2.375rem;
  width: 2.375rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
} */

.pricing--hover {
  &:hover,
  &:focus {
    .warning-boxshadow {
      box-shadow: 0px 0px 0px 4px rgba(229, 120, 11, 0.2);
      border-radius: 0.5rem;
      outline: 0;
    }
  }
}
.card-form-check-input {
  &:checked + div {
    .card {
      border: 1px solid var(--color-primary-light);
      box-shadow: 0px 0px 0px 4px rgba(56, 116, 255, 0.2);
      .radio-circle {
        border: 5px solid var(--color-primary);
      }
    }
  }
  &.pricing-plan-recommended {
    &:checked + div {
      .card {
        border: 1px solid var(--color-warning-light);
        box-shadow: 0px 0px 0px 4px rgba(229, 120, 11, 0.2);
      }
    }
  }
}

[data-hb-theme='dark'] {
  .footer-bg {
    opacity: 0.6;
  }
}

.text-illustration-underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
}

.bg-linear-gradient {
  background: linear-gradient(
    95.11deg,
    #f24e1e -21.8%,
    #ff7262 -2.23%,
    #a259ff 46.16%,
    #1abcfe 79.11%,
    #0acf83 116.18%
  );
}

/* ---- hover bg transparent */
.hover-bg-transparent {
  &:hover,
  &:focus {
    background-color: transparent !important;
  }
}

/* ------------------------------ font-awesome ------------------------------ */
.fa-ul {
  [dir='rtl'] & {
    --fa-li-margin: -0.5em !important;
    &.pricing {
      margin-left: var(--fa-li-margin, 2.5em) !important;
    }
  }
  margin-left: var(--fa-li-margin, 2.5em);
  .fa-li {
    left: calc(var(--fa-li-width, 2em) * -1) !important;
  }
}
.page-title-sticky-top {
  @variant xl {
    position: sticky;
    top: calc(var(--navbar-top-height) + 3.725rem);
  }
}

.pricing-business-plus {
  [data-hb-theme='dark'] & {
    background-color: --alpha(var(--color-warning) / 8%) !important;
    border: 1px solid --alpha(var(--color-warning) / 20%);
  }
}

/* echarts example */
.echart-quartet-scatter-chart-example {
  min-height: 31.25rem;

  @variant max-md {
    min-height: 65.625rem;
  }
}
.echart-radar-customized-chart-example {
  height: 22rem;

  @variant max-xl {
    height: 45rem;
  }
}
.echart-radar-multiple-chart-example {
  height: 21rem;

  @variant max-2xl {
    height: 35rem;
  }
  @variant max-lg {
    height: 50rem;
  }
}

.faq-list {
  li {
    .fa-circle {
      font-size: 6px;
      margin-right: 1.25rem;
      margin-top: 6px;
      color: var(--background-color-body-quaternary);
    }
  }
}
.faq-title-box {
  top: --spacing(8);
  width: 90%;
  @variant md {
    width: 75%;
  }
  @variant xl {
    width: 55%;
  }
}

/*-----------------------------------------------
|   fontawesome stack icon border color
-----------------------------------------------*/
.stack-circle path {
  stroke: var(--background-color-body);
  stroke-width: 60;
}

/*-----------------------------------------------
|   action dropdown btn
-----------------------------------------------*/
.action-btn {
  min-height: 32px;
  min-width: 45px;
}

/*-----------------------------------------------
|   widgets scrollspy
-----------------------------------------------*/
.widgets-scrollspy-nav {
  position: sticky;
  top: var(--navbar-top-height);
  .nav {
    .nav-item {
      .nav-link {
        &.active {
          color: var(--color-primary) !important;
          border-bottom: 1px solid var(--color-primary) !important;
        }
      }
    }
  }
}

.fill-body-bg {
  fill: var(--background-color-body);
}
.fill-emphasis-bg {
  fill: var(--background-color-body-emphasis);
}

.circle-icon-item {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-icon-item-md {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-wish {
  width: 2rem;
  height: 2rem;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
  }
  &.btn-wish-primary {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    &:hover,
    &:focus,
    &.active {
      background-color: var(--color-primary) !important;
      color: var(--color-white) !important;
    }
  }
}

.rating-radio {
  + {
    label {
      padding: --spacing(4);
      border: 1px solid var(--border-color-translucent) !important;
      .check-icon {
        display: none;
      }
    }
  }
  &:checked {
    + {
      label {
        border: 1px solid var(--color-primary) !important;
        .check-icon {
          display: block;
        }
      }
    }
  }
}

.table-layout-fixed {
  table-layout: fixed;
}
.table-compare {
  --column-numbers: 3;
  --column-width: 250px;
  tbody {
    tr {
      width: calc(var(--column-numbers) * var(--column-width));
      display: flex;
      flex-wrap: wrap;
      td {
        &:first-child {
          flex: 0 0 100%;
          ~ td {
            flex: 1;
          }
        }
      }
    }
  }
  @variant lg {
    tbody {
      tr {
        display: table-row;
        width: auto;
      }
    }
  }
}

/* ping icon */
.ping-icon-wrapper {
  position: relative;
  width: 10px;
  height: 10px;
  display: flex;
  .ping-icon-bg {
    position: absolute;
    background-color: var(--color-success);
    display: inline-flex;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    animation: animatePing 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
  .ping-icon {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-flex;
    color: var(--color-success);
  }
}

@keyframes animatePing {
  75%,
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.rtl__flip {
  [dir='rtl'] & {
    transform: scaleX(-1);
  }
}

.radio-circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  transition: border 0.2s ease;
}

.video-container {
  position: relative;
  &:hover {
    .circle-icon-item {
      display: none;
    }
    .circle-icon-item-md {
      display: none;
    }
  }
}

.tour-direction-bg {
  background-position: top 35% center !important;
  background-size: auto 80% !important;
  [dir='rtl'] & {
    transform: scaleY(-1);
    background-position: top 62% center !important;
  }
}

/* password toggle */
[data-password-toggle] {
  .hide {
    display: none;
  }
  &.show-password {
    .hide {
      display: block;
    }
    .show {
      display: none;
    }
  }
}

.gallery-column-separator {
  position: absolute;
  height: 100%;
  padding: 0;
  width: auto;
  border-right: 1px solid var(--border-color-translucent);
}

.gallery-column-separator-1 {
  display: none;
  @variant sm {
    display: block;
    left: 50%;
  }
  @variant md {
    left: calc(100% / 3);
  }
  @variant xl {
    left: 25%;
  }
}
.gallery-column-separator-2 {
  display: none;
  @variant md {
    display: block;
    left: calc((100% / 3) * 2);
  }
  @variant xl {
    left: 50%;
  }
}
.gallery-column-separator-3 {
  display: none;
  @variant xl {
    display: block;
    left: 75%;
  }
}

.album-item {
  .photo-stack {
    position: relative;
    .photo-stack-top {
      position: relative;
      width: 100%;
      z-index: 3;
      .video-container {
        video {
          @variant md {
            height: 160px !important;
          }
          @variant 2xl {
            height: 260px !important;
          }
          object-fit: cover;
        }
      }
      img {
        @variant md {
          height: 160px;
        }
        @variant 2xl {
          height: 260px;
        }
        transition: transform 0.5s ease;
      }
    }
    .photo-stack-middle {
      position: absolute;
      width: 90%;
      left: 50%;
      bottom: --spacing(-2);
      transform: translateX(-50%);
      z-index: 2;
    }
    .photo-stack-bottom {
      position: absolute;
      width: 80%;
      left: 50%;
      bottom: --spacing(-4);
      transform: translateX(-50%);
    }
  }
  &:hover {
    .top {
      img {
        transform: scale(1.2);
      }
    }
    .title {
      color: var(--color-primary);
    }
    .dropdown-toggle {
      background-color: var(--background-color-body-emphasis);
    }
  }
}

.square-icon-box {
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-check-input-transparent {
  background-color: transparent;
  &:checked {
    background-color: var(--color-primary);
  }
}

.pointer-events-none {
  pointer-events: none;
}
.underline-on-hover {
  &:hover {
    a {
      text-decoration: underline;
    }
  }
}

/* stretched-link */
.stretched-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
  }
}

/* Image thumbnail */
@utility img-thumbnail {
  @layer base {
    padding: --spacing(1);
    background-color: var(--background-color-body);
    border: 1px solid var(--border-color-base);
    border-radius: var(--radius-md);
    max-width: 100%;
    height: auto;
  }
}
