append variables

mixin Content
        div(class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8 my-10 lg:my-20 mx-5 md:mx-11 xl:mx-22")
            each val in data
                a(href=`${val.preview}` target="_blank" class="no-underline")
                    +ItemCard(val)
            
